/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}
.jumbotron1 {
  background-image: url("../img/bg.jpg");
  background-color: #000000;
  margin-bottom: 0;
  min-height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
.jumbotron2 {
  background-color: white;
  margin-bottom: 0;
  min-height: 50%;
}
.dropdown-menu a:hover {
  color: #fff;
  background-color: #a0a8af;
  border-color: #fff;
}
.container {
  max-width: 1050px;
}
.CodeMirror {
  border: 1px solid silver;
}
.btn-grid {
  margin: -2px 0;
}
.btn-grid > .btn {
  margin: 2px 0;
}
pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
blockquote {
  border: 1px solid #b3b3b3;
  border-left: 10px solid #b3b3b3;
  border-radius: 0;
  background: #fafafa;
  font-size: 18px;
  margin: 10px;
  padding: 10px 20px;
}
.panel {
  background-color: #EEF0F0;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}
.panel-body {
  padding: 10px;
}