/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}
.jumbotron {
  background-image: url("../img/bg.jpg");
  background-color: #17234E;
  margin-bottom: 0;
  min-height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
.btn-brown {
  background-color: #902000;
  color: #ffffff;
}
.btn-brown:hover {
  background-color: #801000;
  color: #ffffff;
}
.btn-outline-brown {
  background-color: transparent;
  color: #c04000;
  border: 1px solid #c04000;
}
.btn-outline-brown:hover {
  background-color: #c04000;
  color: #ffffff;
}
.dropdown-menu a:hover {
  color: #fff;
  background-color: #902000;
  border-color: #fff;
}
