/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}
.jumbotron {
  background-image: url("../img/bg.jpg");
  background-color: #000000;
  margin-bottom: 0;
  min-height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
.dropdown-menu a:hover {
  color: #fff;
  background-color: #a0a8af;
  border-color: #fff;
}
.container {
  max-width: 1050px;
}
